html {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

.bg-color-main-one {
  background-color: #ffffff;
}

body {
  padding-top: 100px;
}